### Задание 1

In [19]:
import pandas as pd

def classification(rating):
    if rating <= 2:
        return 'Низкий рейтинг'
    elif rating <= 4:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

movies = pd.read_csv('movies.csv');
ratings = pd.read_csv('ratings.csv');
union_tables = ratings.merge(movies, on='movieId')

union_tables['class'] = union_tables['rating'].apply(classification)
union_tables

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,Средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,Средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,Средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,Низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,Средний рейтинг
...,...,...,...,...,...,...,...
99999,671,6268,2.5,1065579370,Raising Victor Vargas (2002),Comedy|Drama|Romance,Средний рейтинг
100000,671,6269,4.0,1065149201,Stevie (2002),Documentary,Средний рейтинг
100001,671,6365,4.0,1070940363,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX,Средний рейтинг
100002,671,6385,2.5,1070979663,Whale Rider (2002),Drama,Средний рейтинг
100003,671,6565,3.5,1074784724,Seabiscuit (2003),Drama,Средний рейтинг

### Задание 2

In [20]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
geo_data_keys = list(geo_data.keys())


def geo_classification(keyword):
    result = 'undefined'
    for key in geo_data_keys:
        for region in geo_data[key]:
            if region in keyword:
                result = key
    return result

keywords = pd.read_csv('keywords.csv')
keywords['region'] = keywords['keyword'].apply(geo_classification)
keywords.sort_values('region', ascending=False)

                                           keyword  shows     region
6999                                     москва 24  37459      Центр
19120                               avto ru москва  15992      Центр
73226                       фанатик спартак москва   5353      Центр
68005                             гостиница москва   5651      Центр
7090                            гисметео ярославль  37008      Центр
...                                            ...    ...        ...
33455  тобот мультфильм на русском смотреть онлайн   9790  undefined
33454                           логические загадки  10369  undefined
33453                           пенсионный фонд рф   9875  undefined
33452                            olesya fattakhova   9832  undefined
99999                                         ггму   3630  undefined

[100000 rows x 3 columns]